body {
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: var(--purple);
    font-family: var(--bs-font-family-roboto);
}

label {
    font-weight: bold;
}

input {
    background-color: #F9F9F9;
}

#btn-login {
    background-color: var(--purple);
    width: 200px;
}

#a-register {
    text-decoration: underline;
    display: block;
    color: var(--purple);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
