/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

.divReport{
    width: 300px;
    height: 300px;
    
}
.containerReport{
    display: grid;
    grid-auto-rows:22rem;
    grid-template-columns: repeat(auto-fill,320px); 
    justify-content: center;
}
