/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

.divReport{
    width: 300px;
    height: 300px;
    
}
.containerReport{
    display: flex;
    justify-content: center;
   
}
