
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
:root{
    --bs-cultured: #F9F9F9;
    --bs-independence: #43546F;
    --bs-font-family: 'Roboto', sans-serif;
}